modLoader="javafml"
loaderVersion="${forgelike_loader_ver}"
license="${license}"
issueTrackerURL="${issue_tracker}"
mixins=["mixins.strawgolem.json"]

[[mods]]
modId="${id}"
version="${version}"
displayName="${name}"
logoFile="${icon}"
authors="${authors}"
description='''
${description}
'''

${depends}